/* src/components/Sidebar.css */
.sidebar {
  width: 200px;
  height: 100vh; /* Cao full màn hình */
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed; /* Cố định bên trái */
  left: 0;
  top: 0;
}

.logo h2 { margin-bottom: 40px; text-align: center; }

.menu-item {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  display: block;
}

.menu-item:hover { background-color: #34495e; }